.mainLayout {
  width: 100%;
  height: calc(100vh - var(--header-height));
  height: calc(100svh - var(--header-height));
  padding: 2rem 3rem;
}

@media (max-width: 375px) {
  .mainLayout {
    padding: 1rem 1.5rem;
  }
}